.react-player {
   height: 80vh;
   width: 100vw;
/*    border: 2px red solid; */
   display: flex;
}

.player-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
/*     border: 2px rgb(33, 128, 236) solid; */
}

.video-limiter{
    height: 100%;
    width: 100vw;
}


.text {
    color: black;
    height: 50vh;
}

@media (max-width: 650px) {
     /* .react-player{
        width: 30%;
        height: auto;

    } */
    .player-wrapper{
        width: 100vw;
        height:fit-content;
 
    } 
    .video-limiter {
        width: 100vw;
        justify-content: center;
        display: flex;
        height: auto;
    }
}