.gallery {
  
  margin: 0 auto;
  display: flex;
  width: 30%;
  height: 100%;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 1% 1% 1% 1%;
}

.title{
  display: flex;
  justify-content: center;
}

.description{
  display: flex;
  justify-content: center;
}

.slider{
  display: flex;

}