.form{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    color: black;
    height: 100vh;
    padding: 20px;
}

.form label, h1{
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    background-color: rgb(20, 117, 243);
}