.menu-icon {
    display: none;
}

.container {
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.nav-elements {
    align-items: center;
    height: 7vh;
}

.head {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 10vh;
}

.navbar {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar:hover {
    color: #137CFC;
    transition: 1s ease-in;
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    align-items: right;
    height: 100%;

    width: 500px;
}

/* Dont touch this again pls */
.nav-elements ul {
    height: 15vh;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content:space-around;
}

.nav-elements ul a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    font-weight: 500;
    position:static;
    transition: 0.3s ease-in;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
}

.head {
    display: flex;
    margin:unset;
}

@media (max-width: 650px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

    }
    /* Pls dont touch */
    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-elements {
        position: fixed;
        right: 0;
        margin-top: 85px;
        top: 80px;
        width: 0px;
        transition: all 0.3s ease-in;
        height: calc(40vh - 40vh);
        overflow: hidden;      
        display: flex;
    }

    .nav-elements.active {
        width: 200px;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #137CFC;
        color: aliceblue;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 100%;
        width: 100%;
     
    }

    .nav-elements ul li {
        margin-left: 0px;
        margin-top: 20px;
    }

    .logo-text {
        display: flex;
        justify-content: center;
    }
    .navbar {
        height: 18vh;
    }


}