.menu-icon {
    display: none;
}

.container {
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.nav-elements {
    align-items: center;
    height: 7vh;

}

.head {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;

    height: 10vh;
}

.navbar {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;

    contain: content;
}

.navbar:hover {
    color: #137CFC;
    transition: 1s ease-in;
}

.logo {
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    align-items: right;
    height: 100%;
}

.nav-elements ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-elements ul a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: white;
    font-weight: 800;
    position: relative;
    transition: 0.3s ease-in;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
}

.head {
    display: flex;
    margin:unset;
}

@media (max-width: 650px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin-left: 5%;

    }

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        margin-top: 70px;
        top: 80px;
        width: 0px;
        transition: all 0.3s ease-in;
        height: calc(20px - 20px);
        overflow: hidden;
      
    }

    .nav-elements.active {
        width: 200px;
        height: 150px;
        justify-content: center;
        display: flex;
        background-color: #137CFC;
        box-shadow: whitesmoke;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-left: 0px;
        margin-top: 20px;
    }

    .logo-text {
        display: flex;
        justify-content: center;
    }
    .navbar {
        height: 18vh;
    }


}