.menu-icon {
    display: none;
}

.container {
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.nav-elements {
    height: 10vh;
    align-items: flex-start;
}

.head {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar {
    height: 12vh;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar:hover{
    color: #137CFC;
    transition: 1s ease-in;
}

.logo {
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;

    justify-content: space-between;
    align-items: right;
    height: 100%;
}

.nav-elements ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 40px;
}

.nav-elements ul a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  
}

.nav-elements ul a.active {
    color: white;
    font-weight: 800;
    position: relative;
    color: #137CFC;
    transition: 0.3s ease-in;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
}

@media (max-width: 650px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        justify-content: space-around;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 80px;
        background-color: #137CFC;
        width: 0px;
        height: 30vh;
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 100%;
        height: 30vh;
        justify-content: center;
        display: flex;
        z-index: 1;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-left: 0px;
        margin-top: 20px;
    }

}