* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: white;
}

body {
  background-image: url("./Img/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  object-fit: contain;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 4rem;
  align-items: center;
}

.navbar li {
  color: aliceblue;
  cursor: pointer;
  list-style: none;
  font-size: x-large;
  margin: 20px;
}

a:focus {
  color: rgb(19, 124, 252);
}

.color {
  color: rgb(19, 124, 252);
}

a:active {
  color: aliceblue;
}

a:hover {
  color: rgb(19, 124, 252);
  transition: ease-in 0.8s;
  font-size: larger;
}

a:link {
  color: white;
}

.header {
  color: aliceblue;
  justify-content: center;
  display: flex;
}

.logo-text {
  color: white;
  display: flex;
  float: inline-start;
  align-items: center;
  font-size: 2rem;
}

.home-info {
  color: white;
  justify-content: center;
  display: flex;
  padding: 30px;
}

.price-text {
  color: white;
  justify-content: center;
  display: flex;
  text-decoration: none;
  list-style: none;
}

.price-text li {
  list-style: none;
  padding: 10px;
}

.price-list {
  color: white;
  justify-content: center;
  display: flex;
}

.media-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;

}

.header p {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-wrap: wrap;
  }

  .header {
    flex-wrap: wrap;
  }

  .nav {
    flex-wrap: wrap;
  }

}